       
/*DEFINIÇÕES DE ESTILO PARA A PAGINA DE ENTRADA */

#cabeca {
	width:100%;
	height: 60px;
	position: relative;
	margin-left:0px;
	margin-top:0px;
	background-color: #191970;	
}

#cabecalho {
	width:1290px;
	height:40px;
	position:relative;
	margin-left: 30px;
	margin-top:50px;
	background-color:#000000;
	text-align:center;
	font-size:18px;
	font-weight: 200;
	color:#ffffff;
	line-height:40px;
	font-family: Arial, Tahoma, sans-serif;	
}

#cabecalho_1 {
	width:552px;
	height:40px;
	position:relative;
	margin-left: 400px;
	margin-top:80px;
	/*background-color:#4682B4;*/
	background-color:#000000;
	text-align:center;
	font-size:18px;
	font-weight: 200;
	color:#ffffff;
	line-height:40px;
	font-family: Arial, Tahoma, sans-serif;
}
#cabecalho_2 {
	width:1000px;
	height:40px;
	position:relative;
	margin-left: 0px;
	margin-top:60px;
	background-color:#000000;
	text-align:center;
	font-size:18px;
	font-weight: 200;
	color:#ffffff;
	line-height:40px;
	font-family: Arial, Tahoma, sans-serif;	
}
#logo_d_pequeno {
	width:150px;
	height: 100px;
	background-image: url(../img/logo_direito_pequeno.png);
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin-left:30px;
	padding:5px;
}
#nome_sistema{
	width:300px;
	height: 80px;
	position: relative;
	float: left;
    margin-left:500px;
	margin-top:10px;
	font-family: Arial, Tahoma, sans-serif;
	font-size:24px;
    text-align: center;
    line-height:35px;
	color:#ffffff;
	font-weight: 900;
}
#nome_usu {
    width:400px;
	height: 20px;
	position: relative;
	float: left;
    margin-left:500px;
	margin-top:5px;
	background: #A9A9A9;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-size:24px;
}

.navbar {
	width:100%;
	height: 0px;
	position: relative;
	float: left;
	margin-top:-35px;
	background: #A9A9A9;
	z-index: 1;
}

.navbar-nav > li >a{ 
  font-size:18px;
  font-weight: bold;
  color: #ffffff;
  margin-top:-58px;
  line-height: 50px;
}

.navbar-nav > li:hover >a,
.navbar-nav > li.active >a
{
  color: blueviolet;
}
li {
  list-style: none;
}
a:link { 
 text-decoration:none; 
} 

#mensagem {
	width: 1000px;
	height:42px;
	padding:0px;
	margin-top: 0px;
	margin-left:0px;
	margin-bottom:2px;
	text-align: center;
	font-size:16px;
	font-weight: 600;
	color:#FFFF00;
	font-family: Arial, Tahoma, sans-serif;
	/*border: 1px solid #000;*/
}
.msg_conteudo {
	width: 1000px;
	height:47px;
	padding:10px;
}

/* Estilo especifico para pagina inclisao_hawb*/
#principal {
    width: 1000px;
    position: relative;
    float: left;
    margin-left: 175px;
    border:1px solid #1b5896;
}
#t_form {
    width: 1000px;
    height: 50px;
    position: relative;
    float: left;
    margin-left: 175px;
    margin-top: -5px;
    background-color:#1b5896;
	text-align:center;
	font-size:20px;
	font-weight: 600;
	color:#ffffff;
	line-height:50px;
	font-family: Arial, Tahoma, sans-serif;	
}

#g_fixo {
    width: 1000px;
    height: 160px;
    position: relative;
    float: left;
    padding: 10px;
    margin-left: 0px;
    background-color: silver;
}

 /* elementos dos dados fixos da tela */
#c_data {
    width: 475px;
    position: relative;
    float: left;
    margin-left: 25px;
	margin-top: -5px;
}
#data_prev {
    width: 475px;
    position: relative;
    float: left;
    margin-left: 25px;
	margin-top: -5px;
}
#c_escritorio {
    width: 445px;
    position: relative;
    float: left;
    margin-left: 40px;
	margin-top: -10px;
	
}
#c_cliente {
    width: 445px;
    position: relative;
    float: left;
    margin-left: 40px;
	margin-top: 5px;
}
#c_servico {
    width: 445px;
    position: relative;
    float: left;
    margin-left: 540px;
	margin-top: -48px;
}
#fixa_cabe {
    width: 400px;
    position: relative;
    float: left;
    margin-left: 300px;
    margin-top: -52px; 
    font-family: Arial, Tahoma, sans-serif;
	font-size:16px;
    text-align: center;
	color:#ffffff;
	font-weight: 700;  
}

/* demais campos do fomulario fora da parte fixo*/

/* primeira linha*/
#cod_barras {
    width: 400px;
    position: relative;
    float: left;
    margin-left: 35px;
	margin-top: -15px
}
#n_hawb {
    width: 220px;
    position: relative;
    float: left;
    margin-left: 110px;
	margin-top: -15px
}
#qtdade_ser {
    width: 150px;
    position: relative;
    float: left;
    margin-left: 0px;
	margin-top: -15px
}
#valor_ser {
    width: 165px;
    position: relative;
    float: left;
    margin-left: 0px;
	margin-top: -15px
}

/* segunda linha*/

#nome_desti {
    width: 580px;
    position: relative;
    float: left;
    margin-left: 35px;
	margin-top: -10px;
}
/*posiciona a div que conterá a lista de destinos ao pesquisa-los pelo nome*/
/*#resu_lista {
	width: 580px;
    position: relative;
    float: left;
    margin-left: 0px;
	margin-top: 0px;
	border: 1px solid #000;
}*/

#cod_desti {
    width: 260px;
    position: relative;
    float: left;
    margin-left: 293px;
	margin-top: -10px;
}
#b_pequisa_desti {
    width: 100px;
    position: relative;
    float: left;
    margin-left: 475px;
    margin-top: -34px;
}

#b_pequisa_c_desti {
    width: 100px;
    position: relative;
    float: left;
    margin-left: 220px;
    margin-top: -34px;
}

/* terceira linha*/

#cnpj_desti {
    width: 315px;
    position: relative;
    float: left;
    margin-left: 35px;
	margin-top: -10px;
}
#classe_cep{
   margin-top: -10px;	
}
#n_cep {
    width: 200px;
	position: relative;
    float: left;
    margin-top: -10px;	
}
#b_pesquisa_cep {
    width: 80px;
    position: relative;
    float: left;
    margin-left: 190px;
    margin-top: -34px;
}
#div_cep {
    display: inline-block;
}
#cla_cep {
    width: 100px;
    position: relative;
    float: left;
    margin-left: -15px;
    
}
#cl_cep {
    width: 180px;	
}

/* quarta linha*/

#rua_desti {
    width: 450px;
    position: relative;
    float: left;
    margin-left: 35px;
	margin-top: -10px;
}
#nume_desti {
    width: 150px;
    position: relative;
    float: left;
    margin-left: 160px;
	margin-top: -10px;
}
#comple_desti {
    width: 315px;
    position: relative;
    float: left;
    margin-left: -10px;
	margin-top: -10px;
}

/* quinta linha*/

#bair_desti {
    width: 320px;
    position: relative;
    float: left;
    margin-left: 35px; 
	margin-top: -10px;
}
#cida_desti {
    width: 450px;
    position: relative;
    float: left;
    margin-left: 110px;
	margin-top: -10px;
}
#esta_desti {
    width: 150px;
    position: relative;
    float: left;
    margin-left: 237px; 
	margin-top: -10px;
}

/* campos do rodape da pagina*/

#rodape {
    width: 920px;
    height:	40px;
	margin-left: 35px;
	/*border: 1px solid #000;*/
	margin-top:-5px;
}
#btn_gravar {
    position: relative;
    float: right;
    margin-right: 0px;
	margin-top:2;	
}
#btn_voltar {
    position: relative;
    float: left;
	margin-left:5px;
	margin-top:2px;
}
